<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add New Student</h3>
<form th:action="@{/students/saveStudent}" th:object="${student}" method="post">
    <input type="text" th:field="*{id}" placeholder="Student Id">
    <input type="text" th:field="*{name}" placeholder="Student Name">
    <p th:if="${#fields.hasErrors('name')}">Invalid Name</p>
    <input type="text" th:field="*{email}" placeholder="Student Email">
    <p th:if="${#fields.hasErrors('email')}">Invalid Email</p>
    <ul>
        <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
    </ul>
    <input type="text" th:field="*{phone}" placeholder="Student Phone">

    <button type="submit">Save</button>
</form>
</body>
</html>